<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARAIMPORTS</title>
    <script
      src="https://kit.fontawesome.com/3df637a2f2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/estilos/estilo.css" />
  </head>
  <body>
    <header>
      <div class="menu-content">
        <h1 class="logo"> ARAIMPORTS </h1>
        <nav class="header-menu">
          <ul class="list-itens">
            <li><a href="/">Home</a></li>
            <li><a href="/catalogo">Catálogo</a></li>
            <li><a href="/localizacao">Localização</a></li>
            <li><a href="/duvidas">Dúvidas</a></li>
            <li><a
                href="https://www.instagram.com/araimports.1/"
                target="_blank"
                rel="noopener noreferrer"
              > <i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          </ul>
        </nav>
      </div>
    </header>

    {{{body}}}

    <footer>
      <div class="redes-sociais">
        <a
          href="https://www.instagram.com/araimports.1/"
          target="_blank"
          rel="noopener noreferrer"
        ><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
      <br />
      <p>©2022 por GIGI E CAMS</p>
    </footer>

  </body>
</html>