{{#each duvidas}}
  <div class="card-duvidas">
    <div class="mensagem-div">
      <label>Nome:</label>
      <h3>{{nome}}</h3>
    </div>
    <div class="mensagem-div">
      <label>Email:</label>
      <p>{{email}}</p>
    </div>
    <div class="mensagem-div">
      <p>Mensagem: </p>
      <p>{{mensagem}}</p>
    </div>
  </div>
{{/each}}