<div class="duv">
  <form action="/duvidas" method="POST">
    <label for="username">Seu Nome </label>
    <br />
    <input type="text" id="username" name="nome" placeholder="Nome" />
    <br /><br />
    <label for="senha">Seu E-mail</label>
    <br />
    <input type="text" id="senha" name="email" placeholder="E-mail" />
    <br /><br />
    <label for="text">Sua Mensagem</label>
    <br />
    <textarea
      name="textAreaMensagem"
      id="textAreaMensagem"
      cols="30"
      rows="10"
    ></textarea>
    <br /><br />
    <input type="submit" value="Enviar" />
  </form>
</div>