<div class="titulolocal">
  <h1>ENCONTRE-NOS</h1>
</div>
<div class="local">
  <div class="lalala">
    <h1>AGORA COM A MODALIDADE
      <br />DELIVERY</h1>
  </div>
  <div class="img">
    <a
      href="https://goo.gl/maps/DF2m7y9oddJDUx816"
      target="_blank"
      rel="noopener noreferrer"
    ><img src="img/locaaraimp.jpg" width="600px" /></a>
  </div>
</div>